/* Responsive media-query start */

@media only screen and (max-width: 900px) {
  .bar {
    display: block;
    padding: 20px 10px;
    line-height: 4rem;
  }

  .bar i {
    font-size: 30px;
    color: white;
  }

  #navbar {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
 
background: #5C5C5C;
    width: auto;
    align-items: center;
    text-align: center;
    /* transition: 0.4s linear; */
    margin: 0 auto;
    height: 0px;
  }

  #navbar a {
    display: none;
  }

  #navbar.show a {
    display: block;
    margin-top: 15px;
  }

  #navbar.show {
    transition: height 0.2s linear;
    height: 300px;
    opacity: 1;
  }
  header span{
    display: none;
  }

  /* all cuisine dishes stlyling */

  .cuisine-dishes #even {
    flex-direction: column;
  }

  .cuisine-dishes #odd {
    flex-direction: column;
  }
}

@media only screen and (max-width: 650px) {
  header {
    padding: 0 50px;
  }

  header h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1.3rem;
    padding: 50px 20px;
  }


  #cuisines h1{
   font-size: 2rem;
  }


  .dish-data img {
    height: 400px;
    width: 400px;
    margin: 0 auto;
  }

  .dish-data p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .heading h1 {
    font-size: 1.8rem;
  }

  .about h1,
  .cusines h1 {
    font-size: 1.8rem;
  }


  #cuisines h1{
    font-size: 1.5rem;
   }
 
  .dish-data img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }

  .dish-data p {
    font-size: 0.8rem;
  }


}

@media only screen and (max-width: 399px) {
  header {
    padding: 0px;
  }

  header h2 {
    font-size: 1.6rem;
  }

  .heading {
    padding: 0px;
  }
  .heading h1 {
    font-size: 1.4rem;
  }
  .heading span {
    padding: 0px;
    font-size: 1.2rem;
  }

  .about h1,
  .cusines h1 {
    font-size: 1.6rem;
  }

  .about p {
    font-size: 1rem;
    padding: 50px 10px;
  }
  .bar i {
    font-size: 25px;
  }

  #cuisines h1{
    font-size: 1rem;
   }
 
  .dish-data img {
    height: 250px;
    width: 250px;
    margin: 0 auto;
  }

 

}

@media only screen and (max-width: 283px) {
  header h2 {
    font-size: 1.3rem;
  }

  .heading h1 {
    font-size: 1.2rem;
  }
  .heading span {
    font-size: 1rem;
  }

  .about h1,
  .cusines h1 {
    font-size: 1.4rem;
  }

  .about p {
    font-size: 0.8rem;
  }
  .bar i {
    font-size: 20px;
  }

  
 
  .dish-data img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }

  .dish-data p {
    font-size: 0.6rem;
  }


  .cuisine-dishes h1
  {
      
      font-size: 1.7rem;
      
      
    }
}

@media only screen and (max-width: 195px) {
  header h2 {
    font-size: 1rem;
  }

  .heading h1 {
    font-size: 1rem;
  }
  .heading span {
    font-size: 0.7rem;
  }

  .about h1,
  .cusines h1 {
    font-size: 1rem;
  }

  .about p {
    font-size: 0.6rem;
  }
  .dropbtn {
    font-size: 15px;
  }
}


@media only screen and (min-width: 900px) {
  .dish-data img{
    height: 400px;
    width: 500px;
   
   }
 
   .dish-data p{

   font-size: 1rem;
    
   }

}


@media only screen and (min-width: 1200px) {
 
  .dish-data img{
    height: 500px;
    width: 600px;
    
   }
 
   .dish-data p{
  
   font-size: 1.2rem;
    
   }
 
}