* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

/* Main-content styling */

.content {
  background-image: url("images/zomatomainimage.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
/* Header styling start */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  border-bottom: 3px solid #696969;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

header h2 {
  font-size: 2.5rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: white;
  line-height: 4rem;
  width: auto;
  margin: auto 0;
}
/* Header styling end */


#navbar {
  width: auto;
  height: auto;
  margin: auto 0;
  text-align: center;
  line-height: 4rem;
}

#navbar a {
  font-size: 25px;
  text-transform: capitalize;
  padding: 10px 20px;
  color: white;
}

header span{
  color: white;
font-size: 25px;
  
}



/* Hamburger icon to be hidden */
.bar {
  display: none;
}
/* Hamburger icon to be hidden */

.heading {
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin: 100px 0 0;
 
}


h1 {
  color: white;
  font-size: 2.5rem;
}

.heading span {
  /* border: 2px solid red; */
  padding: 0 50px;
  font-size: 1.5rem;
  color: white;
}


/* About section styling */


.about,
.cusines {
    text-align: center;
    margin: 40px auto;
    width: 100%;
    /* border: 2px solid rgb(52, 173, 117); */

   
  }
  

  .about h1,
  .cusines h1,
  .cuisine-dish h1 {
      font-size: 2.3rem;
      color: rgb(139, 196, 40);
      margin: 50px 0 ;
      text-transform: capitalize;
  }
  


  .about p {
    font-size: 1.7rem;
    color: black;
    padding: 50px auto;
  }



 /* Cuisines section start */


  .cusines {
    height: 500px;
  }
  

  
.dropdown {
    display: inline-block;
    margin-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .dropbtn {
    font-size: 25px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 50px;
    line-height: 4rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background: lightslategrey;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



  /* Indain-cuisne styling */

 #indian-cuisine{
    background-image: url(images/indian-cusine\ jpg.jpg);
  }
  
  #italian-cuisine{
    background-image: url(images/italian-main.jpg);
  }

 #japanese-cuisine{
  background-image: url(images/japanese.jpg);
 }

 #mexican-cuisine{
  background-image: url(images/mexiacn.jpg);
 }

 #chinese-cuisine{
  background-image: url(images/chinese-cusinejpg.jpg);
 }



  #cuisines{
    text-align: center;
    height: 400px;
  }


  #cuisines h1{
    color: lightslategray;
    margin-top: 50px;
    text-transform: capitalize;
  }

  /* Cusines dishes stling */

  .cuisine-dishes{
    /* border: 2px solid red; */
    align-items: center;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    
  }


 .cuisine-dishes h1
{
    text-transform: capitalize;
    font-size: 2.2rem;
    color: black;
    margin: 50px 0;
    
  }
  .dish-data{
    display: flex;
   padding-bottom: 25px;
    border-bottom: 2px solid slategrey;
   
  }
  .dish-data img{
   height: 500px;
   width: 600px;
   background-size: cover;
   border-radius: 20px;
  }

  .dish-data p{
  /* border: 2px solid black; */
  padding: 30px;
  margin: auto 0;
  font-size: 1.2rem;
   
  }


  /* Styling even and odd div */
 .cuisine-dishes  #even{
  flex-direction: row-reverse;
 }